<!-- Contenido del encabezado -->
<header>
  <nav class="navbar">
      <span class="hamburger-btn material-symbols-rounded">menu</span>
      <a href="index.html" class="logo">
          <img id="logo_banner" src="assets/img/Chuensuca_logo.png" alt="logo">
          <h1>Chuensuca EPS</h1>
      </a>
      <ul class="links">
          <span class="close-btn material-symbols-rounded">close</span>
          <li><a href="pages/afiliacion.html" id="afiliacion">Afiliate</a></li>
          <li><a href="pages/adulto_mayor.html" id="adulto_mayor">Programas al adulto mayor</a></li>
          <li><a href="pages/login.html" id="login">Portal transaccional</a></li>
      </ul>
      <button class="login-btn">Portal transaccional</button>
  </nav>
</header>